@import "tailwindcss";

/* Hide scrollbar for Chrome, Safari */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge, Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}